:root {
  --main: #63698C;
  --main-text: #3f4359;
  --light-main: #CCC9E7;
  --accent: #53F4FF;
  --light-cream: #F1F9F9;
  --header-font: 'Nothing You Could Do', sans-serif;
  --body-font: 'Maven Pro', sans-serif;
  --display-font: 'Fredoka One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--header-font);
  background: var(--light-cream);
  /* overflow: hidden; */
}

.flower {
  margin: 1rem 1rem 1rem 3rem;
  height: 4rem;
  width: 4rem;
}

.footer-flower {
  height: 3.25rem;
  margin: .2rem 2rem;
  padding-top: .6rem;
}

.footer-parent {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  flex: 1 4rem;
  flex-shrink: 2;
}

.footer {
  background: var(--main);
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--accent);
}


.footer-icon {
  height: 2.5rem;
  color: var(--light-cream);
  cursor: pointer;
}

.footer-link {
  color: var(--light-cream);
  margin: 0 2rem;
  padding-top: .5rem;
}

.footer-icon:hover {
  color: var(--accent);
}

.title-parent {
  justify-content: flex-start;
  flex: 2 6rem;
}

.title-bar {
  font-family: var(--header-font);
  background: var(--main);
  color: var(--light-cream);
  display: inline-flex;
  align-items: center;
  justify-content: left;
  border-bottom: 2px solid var(--accent);
  width: 100%;
  height: 100%;
  font-size: 3rem;
}

.title:hover {
  color: var(--accent);
}

.projects-parent, .about-parent, .tech-parent, .contact-parent {
  flex: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.projects-parent{
  flex: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}


.about {
  max-width: 40rem;
  text-align: left;
  line-height: 1.25;
  font-size: 1.25rem;
  font-family: var(--body-font);
  color: var(--main-text);
  margin: 2rem;
}

.nav-parent {
  text-align: center;
  width: 100%;

}


.sidenav-parent {
  text-align: right;
  background: var(--light-main);
  color: var(--main-text);
  font-size: 1.75rem;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: 2px solid var(--accent);
}


.menu-about,
.menu-projects,
.menu-more,
.menu-tech-stack,
.menu-contact {
  margin: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  text-decoration: none;
  color: var(--main-text);
}

.menu-about:hover,
.menu-projects:hover,
.menu-more:hover,
.menu-tech-stack:hover,
.menu-contact:hover {
  background: var(--accent);
  color: var(--main-text);
  cursor: pointer;
}

.projects-parent {
  font-family: var(--body-font);
  color: var(--main-text);
  font-size: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  background: var(--main);
  color: var(--light-cream);
  width: 100%;
  border-bottom: 2px solid var(--accent);
}

.quotekeeper-menu,
.apod-menu,
.users-menu,
.lyrics-menu {
  cursor: pointer;
  padding: .25rem;
}

.quotekeeper-menu:hover,
.apod-menu:hover,
.users-menu:hover {
  background: var(--light-cream);
  color: var(--main-text);
}

.projects-view {
  width: 100%;
}

/* inside projects-view */

.quotekeeper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 4rem;
  height: 100%;
}

iframe {
  border-radius: 10px;
  border: 2px solid var(--light-main);
  width: 560px;
  height: 315px;
}

.explanation {
  margin: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.explanation ul {
  list-style: none;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.project-links {
  margin: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.apodGIF, .usersGIF {
  border-radius: 10px;
  width: 25rem;
}

.apod-links, .users-links {
  text-align: center;
}

.project-links a, .apod-links a, .users-links a {
  color: var(--main-text);
}




/* end inside projects view */

/* More tab */

.more-parent {
  flex: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  font-family: var(--body-font);
  color: var(--main-text);
  font-size: 1.25rem;
}

.more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.more-container img {
  border-radius: 10px;
}

.leetcode, .codepen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leetcode-text, .codepen-text {
  width: 20rem;
}

.more-container *{
  margin: .5rem;
}

/* end more tab */

/* tech stack */
.tech-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 4.75rem;
  font-family: var(--display-font);
}
/* end tech stack */

/* begin contact */
.contact-parent, .contact-form {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  text-align: center;
  font-family: var(--body-font);
  display: flex;
}

.contact-form {
  width: 25rem;
  margin: 0 auto;
  font-size: 1.25rem;
}

.form-button {
  width: 10rem;
  text-align: center;
  margin: 1rem auto;
  padding: .75rem;
  border-radius: 50px;
  cursor: pointer;
  background: var(--main);
  border-style: none;
  font-size: 1rem;
  color: var(--light-cream);
  box-shadow: 2px 2px 4px 2px #3f4359;
}

.form-button:hover {
  background: var(--accent);
  color: var(--main-text);
}

textarea {
  height: 5rem;
}

input, textarea {
  border-radius: 5px;
  border: 2px solid var(--main);
  font-size: 1.15rem;
  box-shadow: 2px 2px 4px 2px #3f4359;
}

input:focus, textarea:focus, button:focus {
  outline: none;
  border: 2px solid var(--accent);
}

input, label, textarea {
  margin: .5rem;
  padding: .25rem;
}

.error {
  font-size: 1.5rem;
}
/* end contact */

/* Begin media queries */
@media screen and (max-width: 1350px) {
  .more-container {
    flex-wrap: wrap;
  }

  .tech-container {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1280px) {
  iframe {
    width: 400px;
    height: 225px;
  }

  .apodGIF, .usersGIF {
    width: 20rem;
  }

  .tech-container {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 1100px) {
  iframe {
    width: 300px;
    height: 169px;
  }
  .tech-container {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 900px) {
  .quotekeeper {
    flex-direction: column;
    font-size: 1rem;
  }
  .explanation {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .tech-container {
    font-size: 3.5rem;
  }

}

@media screen and (max-height: 800px) {

  .quotekeeper {
    padding-bottom: 1rem;
  }

  .more-parent img {
    width: 12rem;
  }

  .more-parent {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .sidenav-parent {
    font-size: 1.25rem;
  }

  .footer-icon {
    height: 1.75rem;
  }

  .footer-flower {
    height: 2.5rem;
  }

  .about {
    text-align: left;
    line-height: 1.1;
    font-size: 1rem;
    font-family: var(--body-font);
    color: var(--main-text);
    margin: 1.5rem 1rem;
  }

  .projects-parent {
    font-size: 1rem;
  }

  .more-parent img {
    width: 10rem;
  }

  .more-parent {
    font-size: 1rem;
  }

  .leetcode, .codepen {
    flex-wrap: wrap;
  }

  .tech-container {
    font-size: 3rem;
  }


}

@media screen and (max-height: 700px) {
  .sidenav-parent {
    font-size: 1.5rem;
  }

  .footer-icon {
    height: 1.75rem;
  }

  .footer-flower {
    height: 2.5rem;
  }

  .about {
    text-align: left;
    line-height: 1.1;
    font-size: 1rem;
    font-family: var(--body-font);
    color: var(--main-text);
    margin: 1.5rem 1rem;
  }

  .projects-parent {
    font-size: 1rem;
  }

  .apodGIF, .usersGIF {
    width: 15rem;
  }

}

@media screen and (max-height: 600px) {
  .quotekeeper {
    padding-bottom: 0;
  }

  .more-parent img {
    width: 10rem;
  }


}

@media screen and (max-width: 600px) {

  .leetcode-text, .codepen-text {
    width: 12rem;
  }

  .sidenav-parent {
    font-size: 1rem;
  }

  label, input {
    margin: .1rem;
  }

}

@media screen and (max-width: 520px) {
.projects-view {
  margin: .25rem;
}

.project-links {
  margin: 0;
}
.menu-about,
.menu-projects,
.menu-more,
.menu-tech-stack,
.menu-contact {
  margin: 1rem 0;
  padding-left: .5rem;
  padding-right: .5rem;
  border-left: 1px solid var(--light-cream);
  border-right: 1px solid var(--light-cream);
}

.sidenav-parent {
  font-size: 1rem;
}

.about {
  text-align: left;
  line-height: 1;
  font-size: .9rem;
  font-family: var(--body-font);
  color: var(--main-text);
  margin: 1rem 1rem;
}

.apodGIF, .usersGIF {
  width: 15rem;
}

.tech-container {
  font-size: 2.5rem;
}

.contact-form {
  width: 20rem;
}

textarea {
  height: 3.5rem;
}

.more-parent img {
  width: 8rem;
}

.more-container * {
  padding: 0;
  margin: .1rem;
}


}

@media screen and (max-width: 378px) {
  
  .title {
    font-size: 1.75rem;
  }

  .flower {
    height: 3rem;
    width: 3rem;
  }

  .footer-icon {
    height: 1.5rem;
  }

  .footer-flower {
    height: 2rem;
    margin: 0 1rem;
  }

  .footer-link {
    margin: 0 1rem;
  }

  .sidenav-parent {
    font-size: .9rem;
  }
  .menu-about,
  .menu-projects,
  .menu-more,
  .menu-tech-stack,
  .menu-contact {
    padding-left: .1rem;
    padding-right: .1rem;
  }

  .projects-parent {
    font-size: .9rem;
  }

  iframe {
    width: 250px;
    height: 141px;
  }

  .project-links {
    width: 12rem;
  }

  .more-parent {
    font-size: .9rem;
  }

  .more-parent h2 {
    font-size: 1.25rem;
  }
  .tech-container {
    font-size: 1.75rem;
  }

  .contact-form {
    width: 14rem;
  }


  }

  @media screen and (max-width: 300px) {
    .about {
      font-size: .8rem;
    }
  }
